@font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/static/Outfit-Bold.ttf") format("woff2");
    src: url("/assets/fonts/outfit/static/Outfit-Regular.ttf") format("woff2");
    src: url("/assets/fonts/outfit/static/Outfit-SemiBold.ttf") format("woff2");
}

@font-face {
    font-family: "YoungSerif";
    src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf") format("woff2");
}